HOST=localhost
PORT=8080

PG__HOST=localhost
PG__PORT=5432
PG__USER=postgres
PG__DBNAME=decimark
PG__PASSWORD=
PG_SYNC_URL="postgresql+psycopg://${PG__USER}:${PG__PASSWORD}@${PG__HOST}:${PG__PORT}/${PG__DBNAME}"
PG_ASYNC_URL="postgresql+psycopg_async://${PG__USER}:${PG__PASSWORD}@${PG__HOST}:${PG__PORT}/${PG__DBNAME}"

PGDATA=./pgdata
INIT_DB_OPTIONS="-p ${PG__PORT}"
TEST_DBNAME=decimark_test

ORIGINS="http://localhost:5173,http://localhost:8080"
API_ROOT="/api"

# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__JWT_SECRET=""
# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__COOKIE_SECRET=""
# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__WEBHOOK_SECRET=""