ENV=production
DEBUG=false
HOST=localhost
PORT=8080

PG__HOST=localhost
PG__PORT=5432
PG__USER=postgres
PG__DBNAME=decimark
PG__PASSWORD=
PG_SYNC_URL="postgresql+psycopg://${PG__USER}:${PG__PASSWORD}@${PG__HOST}:${PG__PORT}/${PG__DBNAME}"
PG_ASYNC_URL="postgresql+psycopg_async://${PG__USER}:${PG__PASSWORD}@${PG__HOST}:${PG__PORT}/${PG__DBNAME}"

PG_DATA=./pgdata
REDIS_DATA=./redisdata
INIT_DB_OPTIONS="-p ${PG__PORT}"

ORIGINS="http://localhost:5173,http://localhost:8080"
API_ROOT="/api"

# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__JWT_SECRET=""
# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__COOKIE_SECRET=""
# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__WEBHOOK_SECRET=""
# Generate with `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
AUTH__DB_ENCRYPTION_KEY=""

TEST__DBNAME=decimark_test
TEST__LIGHTHOUSE=true
TEST__SMTP=True

# SMTP
SMTP__HOST="localhost"
SMTP__PORT=587
SMTP__USERNAME="user"
SMTP__PASSWORD="password"

# Advanced Security Config
OAUTH__GOOGLE__ENABLE=true
OAUTH__GOOGLE__CLIENT_ID="google_client_id"
OAUTH__GOOGLE__CLIENT_SECRET="google_client_secret"
OAUTH__GITHUB__ENABLE=true
OAUTH__GITHUB__CLIENT_ID="github_client_id"
OAUTH__GITHUB__CLIENT_SECRET="github_client_secret"