# Generate using `openssl rand -base64 192 | tr -d '\n'; echo`
JWT_SECRET=P6HryaoVdxjXh8vMphMQ43ELIi1mbOL6D/VqthwzKKsS3Uah0UpNQBA9N4IbUtVafXek3ugp2upDGpJeBSTJ8F+NAHMCBAqO+YR7oRl89hdjM6SpMXiBaPIp8XWtwU48j1wD9THMho7iFs42TScSKeK5ogKXkJH4XR9EskrTDpG1nYcfFAxdAOplEBKoUY2lWH2nPm/34NTE+vdHlBw1X6pX8g+sJ6hEVt+nFwCytTsKTSNqSzW2YsAwJzIcVBkJ

# Generate using `openssl rand -base64 192 | tr -d '\n'; echo`
WEBHOOK_SECRET=jE2Bi9ZwDB+laTTvM+9GsAlU9NddiXb8B4sSRhAzm0P9OAUsOOw7iShNFVnPBH+r//iG5LfO8wJAhrb4I8VDT9qVflxVK1RZhmbS/Ee2Q8O49fcNoiC6Jx8nVSQ1ukHD6uNxpPkl2THOlHdi7C/wxVxRK+k3D4mQhcaXROQIhoYYQBVnUwbe3Mx6caiXF3ky5G24yllH2vRib2sCLp0wJez05o679q47hQ8hQsUqR4vtASmCs+RghPz2N/J+FMWQ