{% extends 'base.j2.html' %}
{% block head %}
    <link href="/static/stylesheets/base.css" rel="stylesheet">
    <link href="/static/stylesheets/responsive-bg.css" rel="stylesheet">
    <link href="/static/stylesheets/responsive-base.css" rel="stylesheet">
    <link href="/static/stylesheets/code.css" rel="stylesheet">
{% endblock head %}
{% block body %}
    <div class="terminal">
        <h1>
            HTTP Code <span class="code">{{ status.pop("code") }}</span>
        </h1>
        <section>
            {% for k, v in content.items() %}<p class="op">{{ k }}: {{ v }}</p>{% endfor %}
            {% set group = status.pop('group', None) %}
            {% set spec = status.pop('spec', None) %}
            {% set spec_link = status.pop('spec_link', None) %}
            {% for k, v in status.items() %}<p class="op">{{ k }}: {{ v }}</p>{% endfor %}
            {% if spec +%}
                <p class="op">
                    spec: <a href="{{ spec_link }}" target="_blank" rel="noopener">{{ spec }}</a>
                </p>
            {% endif %}
        </section>

        <section>
            {% if group +%}
                <p class="op">group:</p>
                {% set spec = group.pop('spec', None) %}
                {% set spec_link = group.pop('spec_link', None) %}
                {% for k, v in group.items() %}
                    {% if k != "subgroup" +%}<p class="op pds">{{ k }}: {{ v }}</p>{% endif %}
                {% endfor %}
                {% if spec +%}
                    <p class="op pds">
                        spec: <a href="{{ spec_link }}" target="_blank" rel="noopener">{{ spec }}</a>
                    </p>
                {% endif %}
            {% endif %}
        </section>
    </div>
{% endblock body %}
