{% extends 'base.j2.html' %}
{% block head %}
    <link href="/static/stylesheets/base.css" rel="stylesheet">
    <link href="/static/stylesheets/responsive-base.css" rel="stylesheet">
    <link href="/static/stylesheets/forms.css" rel="stylesheet">
{% endblock head %}
{% block body %}
    {# Flashing message start here #}
    {% for message in fetch_flash(request) %}
        <div class="{{ message.category }}">{{ message.message }}</div>
    {% endfor %}
    {# Flashing message ends here #}
    <div id="wrapper">
        <main>
            <div class="inner">
                <form action="/auth/login" method="post">
                    <table>
                        <tr>
                            <td>Username</td>
                            <td>
                                <input type="text" name="username" id="username">
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="password" name="password" id="password">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Login" type="button">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </main>
    </div>
{% endblock body %}
