{% extends 'base.j2.html' %}
{% block head %}
    <link href="/static/stylesheets/forms.css" rel="stylesheet">
{% endblock head %}
{% block body %}
    <div id="wrapper">
        <main>
            <div class="inner">
                <form id="register-form" method="post">
                    <div class="field">
                        <label for="email">E-mail</label>
                        <br>
                        <br>
                        <div class="form-box">
                            <input class="input"
                                   name="email"
                                   type="text"
                                   placeholder=""
                                   class="form"
                                   required>
                            <button class="erase-input" style="visibility: hidden;">×</button>
                        </div>
                        <div class="validation-msg"></div>
                    </div>
                    <br>
                    <br>
                    <div class="field">
                        <label for="username">Username</label>
                        <br>
                        <br>
                        <div class="form-box">
                            <input class="input"
                                   name="username"
                                   type="text"
                                   placeholder=""
                                   class="form"
                                   required>
                            <button class="erase-input" style="visibility: hidden;">×</button>
                        </div>
                        <div class="validation-msg"></div>
                    </div>
                    <br>
                    <br>
                    <div class="field">
                        <label for="password">Password</label>
                        <br>
                        <br>
                        <div class="form-box">
                            <input class="input"
                                   name="password"
                                   type="password"
                                   placeholder=""
                                   class="form"
                                   required>
                            <button class="erase-input" style="visibility: hidden;">×</button>
                        </div>
                        <div class="validation-msg"></div>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Login" type="button" class="styled-button">
                </form>
            </div>
        </main>
    </div>
    <script src="/static/scripts/forms.js"></script>
    <script>
        document.getElementById("register-form").addEventListener("submit", async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);

            const res = await fetch("/auth/register", {
                method: "POST",
                body: new URLSearchParams(formData), // sends as form-encoded
            });

            if (res.status === 422) {
                toast({
                    title: "Error",
                    message: "Something went wrong.",
                    type: "error",
                });
            } else {
                const data = await res.json();
                toast({
                    title: data.error ? "Error" : "Success",
                    message: data.message,
                    type: data.error ? "error" : "success",
                });
            }

            if (res.ok) {
                setTimeout(() => window.location.href = "/", 1000);
            }
        });
    </script>
{% endblock body %}
