/* stylelint-disable declaration-no-important, font-family-no-missing-generic-family-keyword, selector-class-pattern, selector-no-qualifying-type, block-no-empty */

/* IMPORTS: START */
@import url("/static/stylesheets/fonts/inconsolata.css");

/* IMPORTS: END */

/* LAYOUT AND TYPOGRAPHY: START */

.wrapper {
    padding: 0 !important;
}

p {
    margin: 0 !important;
}

body::before {
    background-image: none !important;
    background-color: var(--bg-1) !important;
    background-size: cover;
}

body {
    display: block !important;
    box-sizing: border-box;
    height: 100%;
}

h1 {
    text-align: left !important;
    font-family: Inconsolata !important;
    color: var(--fg-3) !important;
}

.main {
    --alignment: var(--site-language-alignment);

    text-align: var(--alignment);
}

.terminal {
    font-family: Inconsolata !important;
    font-size: 1.5rem;
    box-sizing: inherit;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4rem;
    text-transform: uppercase;
    color: var(--fg-3);
    text-shadow:
        0 0 1ex hsl(var(--rfg-3), 0.8),
        0 0 2px rgb(255 255 255 / 80%);
}

.terminal > p {
    color: hsl(var(--rfg-3), 0.8);
    text-shadow:
        0 0 1px hsl(var(--rfg-3), 0.8),
        0 0 2px hsl(0deg 0% 100% / 80%);
}

.op::before {
    content: "> ";
}

.op.pds,
.op.sg {
    margin-left: 1em !important;
}

.op.sg_pds {
    margin-left: 2em !important;
}

/* LAYOUT AND TYPOGRAPHY: END */

/* LINKS: START */

a.spec-link {
    color: var(--text-strong);
    text-decoration: none;
}

a.spec-link::before {
    content: "[";
}

a.spec-link::after {
    content: "]";
}

/* LINKS: END */

/* RESPONSIVE CSS: START */

@media (width <= 1680px) {
    html {
        font-size: 14pt;
    }
}

@media (width <= 1280px) {
    html {
        font-size: 13pt;
    }
}

@media (width <= 1024px) {
}

@media (width <= 980px) {
    html {
        font-size: 12pt;
    }
}

@media (width <= 736px) {
    html {
        font-size: 11pt;
    }

    .h1 {
        letter-spacing: 0;
        width: 100%;
        font-size: 2.5em;
        line-height: 1.25;
    }
}

@media (width <= 360px) {
    .h1 {
        font-size: 2em;
    }
}

/* RESPONSIVE CSS: END */
