/* FORMS: START */

/* FORM */
form {
    text-align: center;
}

/* FORM BOX */
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* FORMS: END */

/* INPUTS: START */

.erase-input {
    text-decoration: none;
    border-radius: 50%;
    margin-left: -1.75rem;
    cursor: pointer;
}

input, .validation-msg {
    padding: var(--space-xs);
    width: max(20vw, 250px);
}

input {
    border: none;
    background: var(--bg-1-2);
    box-shadow:
        inset 5px -5px 10px var(--bg-1-1),
        inset -5px 5px 10px var(--bg-1-3);
    border-radius: 60px;
    transition: all 0.5s ease-out;
    color: var(--fg-2);
}

input[type="submit"] {
    box-shadow: unset;
}

input:focus {
    outline: var(--fg-1) solid 3px;
}

input.invalid {
    outline: var(--error-1) solid 3px;
    transition: all 0.5s;
}

input.valid {
    outline: var(--valid-1) solid 3px;
    transition: all 0.5s;
}

input::placeholder {
    color: var(--fg-1-3);
    opacity: 1;
}

input:focus::placeholder {
    color: var(--fg-1);
    transition: all 0.3s;
}

.star-rating {
    direction: rtl;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating label::before {
    content: "★";
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

/* INPUTS: END */