.login-page {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: var(--bg-1-1);
    max-width: 400px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: var(--bg-1-2);
    color: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 14px;
    padding: 14px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--fg-1);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 14px;
    margin: 5px 0 0;
}

.form button:hover, .form button:active, .form button:focus {
    background: var(--fg-1-1);
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: var(--fg-1-1);
    text-decoration: none;
}

.form .login-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: var(--bg-1);
    background: linear-gradient(45deg, var(--bg-1) 0%, var(--bg-1-3) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input.invalid {
    outline-color: var(--error-1);
    outline-style: solid;
    outline-width: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

input.valid {
    outline-color: var(--valid-1);
    outline-style: solid;
    outline-width: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

button:disabled, button[disabled] {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    cursor: not-allowed !important;
}

.btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: var(--fg-1);
    border: none;
    border-radius: 45px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:disabled, .btn[disabled] {
    background-color: hsla(var(--rfg-1), 0.5) !important;
}

.btn:hover {
    background-color: var(--fg-2);
    -webkit-box-shadow: 0px 15px 20px hsla(var(--rfg-2), 0.4);
    box-shadow: 0px 15px 20px hsla(var(--rfg-2), 0.4);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn:active {
    background-color: var(--fg-1);
    -webkit-box-shadow: 0px 15px 20px hsla(var(--rfg-1), 0.4);
    box-shadow: 0px 15px 20px hsla(var(--rfg-1), 0.4);
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}