/* stylelint-disable no-duplicate-selectors, no-descending-specificity */

/* IMPORTS: START */
@import url("/static/stylesheets/downloaded/fontawesome.css");

/* IMPORTS: END */

/* TOAST CONTAINER: START */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 2147483647;
}

.toast {
    display: flex;
    align-items: center;
    background-color: var(--bg-1-1);
    border-radius: 2px;
    padding: 20px 0;
    min-width: 150px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgb(0 0 0 / 8%);
    transition: all linear 0.3s;
    overflow-wrap: break-word;
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

/* TOAST CONTAINER: END */

/* TOAST VARIANTS: START */

.toast-success {
    border-color: #47d864;
}

.toast-success .toast-icon {
    color: #47d864;
}

.toast-info {
    border-color: #2f86eb;
}

.toast-info .toast-icon {
    color: #2f86eb;
}

.toast-warning {
    border-color: #ffc021;
}

.toast-warning .toast-icon {
    color: #ffc021;
}

.toast-error {
    border-color: #ff623d;
}

.toast-error .toast-icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

/* TOAST VARIANTS: END */

/* TOAST CONTENT: START */

.toast-icon {
    font-size: 24px;
}

.toast-icon,
.toast-close {
    padding: 0 16px;
}

.toast-body {
    flex-grow: 1;
}

.toast-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--fg-2);
}

.toast-msg {
    font-size: 14px;
    color: var(--fg-1);
    margin-top: 6px;
    line-height: 1.5;
}

.toast-close {
    font-size: 20px;
    color: rgb(0 0 0 / 30%);
    cursor: pointer;
}

/* TOAST CONTENT: END */
