@font-face {
  font-family: "Comic Mono";
  font-weight: normal;
  src: url("/static/assets/fonts/ComicMono.ttf");
}

@font-face {
  font-family: "Comic Mono";
  font-weight: bold;
  src: url("/static/assets/fonts/ComicMono-Bold.ttf");
}