/* stylelint-disable at-rule-descriptor-value-no-unknown */
@font-face {
    font-family: Manrope;
    src: url("/static/assets/fonts/Manrope-Variable.woff2") format("woff2");
    font-weight: 200 800;
    font-style: normal italic;
}
